[submodule "jeju-house"]
	path = jeju-house
	url = git@github.com:vietphan1995/jeju-house.git
[submodule "bean-parking"]
	path = bean-parking
	url = git@github.com:vietphan1995/bean-parking.git
[submodule "bean-order"]
	path = bean-order
	url = git@github.com:vietphan1995/bean-order.git
[submodule "bean-wallet"]
	path = bean-wallet
	url = git@github.com:vietphan1995/bean-wallet.git
[submodule "p-charity"]
	path = p-charity
	url = git@github.com:vietphan1995/p-charity.git
