[submodule "jeju-house"]
	path = jeju-house
	url = git@github.com:vietphan1995/jeju-house.git
[submodule "bean-parking"]
	path = bean-parking
	url = git@github.com:vietphan1995/bean-parking.git
[submodule "bean-order"]
	path = bean-order
	url = git@github.com:vietphan1995/bean-order.git
[submodule "bean-wallet"]
	path = bean-wallet
	url = git@github.com:vietphan1995/bean-wallet.git
[submodule "p-charity"]
	path = p-charity
	url = git@github.com:vietphan1995/p-charity.git
[submodule "e-dictionary"]
	path = e-dictionary
	url = git@github.com:vietphan1995/e-dictionary.git
[submodule "underthesea"]
	path = underthesea
	url = git@github.com:vietphan1995/underthesea.git
[submodule "oke"]
	path = oke
	url = git@github.com:vietphan1995/oke.git
[submodule "braille-os"]
	path = braille-os
	url = git@github.com:vietphan1995/braille-os.git
[submodule "i-pedal"]
	path = i-pedal
	url = git@github.com:vietphan1995/i-pedal.git
[submodule "avicci-light"]
	path = avicci-light
	url = git@github.com:vietphan1995/avicci-light.git
[submodule "car-ear"]
	path = car-ear
	url = git@github.com:vietphan1995/car-ear.git
[submodule "shell-ground"]
	path = shell-ground
	url = git@github.com:vietphan1995/shell-ground.git
[submodule "scout-tv"]
	path = scout-tv
	url = git@github.com:vietphan1995/scout-tv.git
[submodule "beethoven-sheet"]
	path = beethoven-sheet
	url = git@github.com:vietphan1995/beethoven-sheet.git
[submodule "b-sign"]
	path = b-sign
	url = git@github.com:vietphan1995/b-sign.git
[submodule "yinyang-number"]
	path = yinyang-number
	url = git@github.com:vietphan1995/yinyang-number.git
[submodule "yinyang-property"]
	path = yinyang-property
	url = git@github.com:vietphan1995/yinyang-property.git
[submodule "trade-pattern"]
	path = trade-pattern
	url = git@github.com:vietphan1995/trade-pattern.git
[submodule "trading-utilities"]
	path = trading-utilities
	url = git@github.com:vietphan1995/trading-utilities.git
[submodule "shutdown"]
	path = shutdown
	url = git@github.com:vietphan1995/shutdown.git
[submodule "fitable"]
	path = fitable
	url = git@github.com:vietphan1995/fitable.git
[submodule "tri-angle"]
	path = tri-angle
	url = git@github.com:vietphan1995/tri-angle.git
[submodule "pushing-decor"]
	path = pushing-decor
	url = git@github.com:vietphan1995/pushing-decor.git
[submodule "warm-signal"]
	path = warm-signal
	url = git@github.com:vietphan1995/warm-signal.git
[submodule "buy-me-hamburger"]
	path = buy-me-hamburger
	url = git@github.com:vietphan1995/buy-me-hamburger.git
[submodule "amazing"]
	path = amazing
	url = git@github.com:vietphan1995/amazing.git
[submodule "game-station"]
	path = game-station
	url = git@github.com:vietphan1995/game-station.git
[submodule "paragraph"]
	path = paragraph
	url = git@github.com:vietphan1995/paragraph.git
[submodule "ed-sharing"]
	path = ed-sharing
	url = git@github.com:vietphan1995/ed-sharing.git
[submodule "i-chair"]
	path = i-chair
	url = git@github.com:vietphan1995/i-chair.git
[submodule "red-book"]
	path = red-book
	url = git@github.com:vietphan1995/red-book.git
[submodule "undertaker"]
	path = undertaker
	url = git@github.com:vietphan1995/undertaker.git
[submodule "mind-plus"]
	path = mind-plus
	url = git@github.com:vietphan1995/mind-plus.git
[submodule "sun-lock"]
	path = sun-lock
	url = git@github.com:vietphan1995/sun-lock.git
[submodule "package-tree"]
	path = package-tree
	url = git@github.com:vietphan1995/package-tree.git
[submodule "skate-lights"]
	path = skate-lights
	url = git@github.com:vietphan1995/skate-lights.git
[submodule "schema-first"]
	path = schema-first
	url = git@github.com:vietphan1995/schema-first.git
[submodule "giza"]
	path = giza
	url = git@github.com:vietphan1995/giza.git
[submodule "graeytooth"]
	path = graeytooth
	url = git@github.com:vietphan1995/graeytooth.git
[submodule "good-shipping"]
	path = good-shipping
	url = git@github.com:vietphan1995/good-shipping.git
[submodule "avatar"]
	path = avatar
	url = git@github.com:vietphan1995/avatar.git
[submodule "green-delivery"]
	path = green-delivery
	url = git@github.com:vietphan1995/green-delivery.git
[submodule "git-key"]
	path = git-key
	url = git@github.com:vietphan1995/git-key.git
